@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --give5-blue: 30 64 175;
    --give5-red: 239 68 68;
    --give5-light-bg: 224 231 255;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }


  body {
    @apply bg-white text-gray-900;
  }
}